<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let experience of experiences">
      <div class="flex-grow-1" >
        <h3 class="mb-0">{{experience.title}}</h3>
        <div class="subheading mb-3">{{experience.content}}</div>
        <p>
          {{experience.description}}
        </p>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary">{{experience.date}}</span>
      </div>
    </div>
  </div>
</section>
<hr class="m-0" />
